<div class="d-flex justify-content-end">
  <!-- <button class="btn btn-secondary " (click)="on();"> Ajouter </button> -->

</div>
<div class="table-responsive">
  <table class="table">

    <thead>
    <tr>
      <th scope="col">Photo</th>
      <th scope="col">N° de Badge</th>
      <th scope="col">Nom et Prenom</th>
      <th scope="col"></th>
      <th scope="col"><button class="btn btn-secondary " > <i class="fas fa-plus"></i> Ajouter </button></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let commissar of commissars">
      <td><img class="rounded-circle" style="width:40px;height:40px;" src="{{commissar.photoUrl}}"></td>
      <td>{{commissar.badge}}</td>
      <td>{{commissar.firstName}} {{commissar.lastName}}</td>
      <td><button (click)="onDetail(commissar.id)"  class="btn btn-secondary"><i class="far fa-address-card"></i></button></td>
      <td><button class="btn btn-danger">
        <i class="fas fa-trash-alt"></i>
      </button></td>
    </tr>

    </tbody>
  </table>
</div>


<div id="overlay2">
  <div id="overlayinside2">
    <div class="alert alert-light" role="alert">
      <a class="d-flex justify-content-end" (click)="ofF();" ><i class="far fa-times-circle"></i>
      </a>
      <app-detail-commissar [commissarIn]="selectedCommissar"></app-detail-commissar>
    </div>
  </div>
</div>
