
<h1 class="display-4">Informations Personelles</h1>
<div class="container">
  <div class="formPersonne">
  <div class="row">
    <div class="col-sm-4">
      <img id="profileImg" class="mr-3 align-self-center rounded-circle" style="width:80%;height:80%;" src="../../../assets/img/profile_img_alt.jpg" onerror="this.src='../../../assets/img/profile_img_alt.jpg';" alt="image not found">
      <div class="form-group">
        <label>UrlImage</label>
        <input class="form-control" />
      </div>

    </div>

    <div class="col-sm">

      <div class="row">

        <div class="col-sm">
          <div class="form-group">
            <label>Nom de l'équipe</label>
            <input class="form-control" #presName />
          </div>
          <div class="form-group">
            <label>Date de création</label>
            <input class="form-control" #presName />
          </div>
          <div class="form-group">
            <label>Division</label>
            <input class="form-control" #presName />
          </div>
          <div class="form-group">
            <label>E-Mail</label>
            <input class="form-control" #presName />
          </div>
          <div class="form-group">
            <label>N° de Téléphone </label>
            <input class="form-control" #presName />
          </div>
        </div>
        <div class="col-sm">

          <div class="form-group">
            <label>Adresse</label>
            <input class="form-control" #presName />
          </div>
          <div class="form-group">
            <label>Region</label>
            <input class="form-control" #presName />
          </div>
          <div class="form-group">
            <label>Terrain principale</label>
            <input class="form-control" #presName />
          </div>
          <div class="form-group">
            <label>Adresse du Terrain principale</label>
            <input class="form-control" #presName />
          </div>
          <div class="form-group">
            <label>N° de Fax </label>
            <input class="form-control" #presName />
          </div>
        </div>

      </div>

  </div>
</div>
  </div>
<div class="formPersonne">
  <div class="row">

    <div class="col-sm">
      <div class="form-group">
        <label>Nom du président</label>
        <input class="form-control" #presName />
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label>Prénom du président</label>
        <input class="form-control" #presLastName />
      </div>


    </div>
    <div class="col-sm">
      <div class="form-group">
        <label>N° de Téléphone du président</label>
        <input class="form-control" #presLastName />

      </div>

    </div>

  </div>
  <div class="row collapse multi-collapse" id="collapseExample">

    <div class="col-sm">
      B1X
    </div>
    <div class="col-sm">
      B2XX
    </div>
    <div class="col-sm">
      B2XX
    </div>
  </div>
  <a class="btn btn-secondary mx-auto formPersonneBtn " style="width: 100%;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
  +</a>

<!--  -->
</div>
  <div class="row">

  </div>

<h1 class="display-4">Informations générale</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
    C
    </div>
    </div>
</div>
<div class="form-group">
  <label>Commentaire</label>
  <textarea class="form-control" rows="5"  ></textarea>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-secondary btn-block btn-lg">Annuler</button>
    </div>
    <div class="col-sm">
      <button class="btn btn-primary btn-block btn-lg">
        Enregistrer
      </button>
    </div>
  </div>
</div>





