
<div class="d-flex justify-content-end">
  <!-- <button class="btn btn-secondary " (click)="on();"> Ajouter </button> -->

</div>
<div class="table-responsive">
  <table class="table">

    <thead>
    <tr>
      <th scope="col">Photo</th>
      <th scope="col">Nom et Prenom</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"><button class="btn btn-secondary " (click)="on();"> <i class="fas fa-plus"></i> Ajouter </button></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let responsable of responsables">
      <td><img class="rounded-circle" style="width:40px;height:40px;" src="{{responsable.photoUrl}}"></td>
      <td>{{responsable.firstName}} {{responsable.lastName}}</td>

      <td><button  (click)="onN(responsable.id)" class="btn btn-secondary"><i class="far fa-address-card"></i></button></td>


      <td><button (click)="onNUpdate(responsable.id)" class="btn btn-secondary"><i class="fas fa-pen"></i></button></td>
      <td><button (click)="delete(responsable.id)" class="btn btn-danger">
        <i class="fas fa-trash-alt"></i>
      </button></td>
    </tr>

    </tbody>
  </table>
</div>

<!-- interface ajout responsable-->
<div id="overlay">
  <div id="overlayinside">
    <div class="alert alert-light" role="alert">
      <a class="d-flex justify-content-end" (click)="off();" ><i class="far fa-times-circle"></i>
      </a>
      <app-add-responsable></app-add-responsable>
    </div>
  </div>
</div>



<!-- interface detail responsable-->

<div id="overlay2">
  <div id="overlayinside2">
    <div class="alert alert-light" role="alert">
      <a class="d-flex justify-content-end" (click)="ofF();" ><i class="far fa-times-circle"></i>
      </a>
      <app-detail-responsable [responsablein]="selectedResponsable"></app-detail-responsable>
    </div><div id="overlay3">
    <div id="overlayinside3">
      <div class="alert alert-light" role="alert">
        <a class="d-flex justify-content-end" (click)="ofFUpdate()" ><i class="far fa-times-circle"></i>
        </a>
        <app-update-responsable [responsablein]="selectedResponsable"></app-update-responsable>
      </div>
    </div>
  </div>
  </div>
</div>



<!-- interface delete responsable-->
<div id="overlayDelete">
  <div id="overlayinsideDelete">
    <div class="alert alert-light" role="alert">
      <a class="d-flex justify-content-end" (click)="offDelete()" ><i class="far fa-times-circle"></i>
      </a>
      <app-delete-responsable [responsablein]="selectedResponsable"></app-delete-responsable>
    </div>
  </div>
</div>
