<div class="d-flex justify-content-end">
  <!-- <button class="btn btn-secondary " (click)="on();"> Ajouter </button> -->

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fas fa-search"></i></div>
    </div>
    <input #searchBox type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search team" (keyup)="search(searchBox.value)">
  </div>
</div>
<div class="table-responsive">
  <table class="table">

    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Logo</th>
      <th scope="col">Name</th>
      <th scope="col">Division</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"><button class="btn btn-secondary " (click)="on();"> <i class="fas fa-plus"></i> Ajouter </button></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of teams">
      <th scope="row">{{team.id}}</th>
      <td><img class="rounded-circle" style="width:40px;height:40px;" src="{{team.logoUrl}}" onerror="this.src='../../../assets/img/profile_img_alt.jpg';"> </td>
      <td>{{team.name}}</td>
      <td>{{team.division}}</td>
      <td><button  (click)="onN(team.id)" class="btn btn-secondary"><i class="far fa-address-card"></i></button></td>
      <td><button class="btn btn-secondary"><i class="fas fa-pen"></i></button></td>
      <td><button class="btn btn-danger">
        <i class="fas fa-trash-alt"></i>
      </button></td>
    </tr>

    </tbody>
  </table>
</div>

<!-- interface add team-->
<div id="overlay">
  <div id="overlayinside">
    <div class="alert alert-light" role="alert">
      <a class="d-flex justify-content-end" (click)="off();" >
        <i class="far fa-times-circle"></i>
      </a>
      <app-add-team></app-add-team>
    </div>
  </div>
</div>


<!--interface detail team -->
<div id="overlay2">
  <div id="overlayinside2">
    <div class="alert alert-light" role="alert">
      <a class="d-flex justify-content-end" (click)="ofF();" ><i class="far fa-times-circle"></i>
      </a>
      <app-detail-team [teamIn]="selectedTeam"> </app-detail-team>
    </div>
  </div>
</div>

