<div class="container" *ngIf="responsablein">
  <div class="row">
    <div class="col">
      <div class="alert alert-secondary" role="alert">
        <div class="mx-auto" style="width:max-content;">
          <h2>Responsable de l'equipe: </h2>
        </div>
      </div>
    </div>

  </div>
  <div class="alert alert-secondary" role="alert">
    <div class="row">

      <div class="col-4">
        <img class="rounded-circle" style="width:150px;height:150px;" src="{{responsablein.photoUrl}} " >
      </div>
      <div class="col-8">
        <h3>{{responsablein.lastName}} {{responsablein.firstName}}</h3>
        <div class="row">
          <div class="col"><h5>CIN/N° de Passeport :</h5> </div>
          <div class="col">07485214</div>
        </div>
        <div class="row">
          <div class="col"><h5>Né le : </h5></div>
          <div class="col">{{responsablein.birthdate}}</div>
        </div>
        <div class="row">
          <div class="col"><h5>Nationalité : </h5></div>
          <div class="col">{{responsablein.nationality}}</div>
        </div>
        <div class="row">
          <div class="col"><h5>Adresse : </h5></div>
          <div class="col">{{responsablein.adress}}</div>
        </div>

        <div class="row">
          <div class="col"><h5>Ville : </h5></div>
          <div class="col">tunis</div>
        </div>

        <div class="row">
          <div class="col"><h5>Région : </h5></div>
          <div class="col">tunis</div>
        </div>

        <div class="row">
          <div class="col"><h5>N° de Téléphone : </h5></div>
          <div class="col">{{responsablein.phone}}</div>
        </div>
        <div class="row">
          <div class="col"><h5>E-Mail : </h5></div>
          <div class="col">{{responsablein.mailAdress}}</div>
        </div>
        <div class="row">
          <div class="col"><h5>Fonction : </h5></div>
          <div class="col">Président</div>
        </div>

        <div class="row">
          <div class="col"><h5> Commentaire </h5></div>
          <div class="col">président du club</div>
        </div>

      </div>

    </div>
  </div>
</div>
