<div id="overlay">
<h3  style="color:black" class="display-5">Informations Personelles</h3>
<hr> <br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <img id="profileImg" src="../../../assets/img/placeholder.png" class="mr-3 align-self-center rounded-circle" style="width:150px;height:150px;" >

      <div class="form-group">
        <label>ImageURL</label>
        <input class="form-control" #photoUrl />
      </div>

      <div class="form-group">
        <label>Equipe</label>
        <input #equipe class="form-control"  />
      </div>

      <div class="form-group">
        <label>Fonction</label>
        <input  class="form-control" #fonction />
      </div>



    </div>
    <div class="col-sm">
      <div class="form-group">
        <label>Nom</label>
        <input class="form-control" #firstName />
      </div>

      <div class="form-group">
        <label>Date de Naissance</label>
        <input class="form-control" #birthdate />
      </div>

      <div class="form-group">
        <label>Adresse</label>
        <input class="form-control" #adress />
      </div>



      <div class="form-group">
        <label>N°CIN: </label>
        <input class="form-control" #natIdNum />
      </div>

      <div class="form-group">
        <label>N° de Passport</label>
        <input class="form-control" #numpasseport />
      </div>


    </div>
    <div class="col-sm">
      <div class="form-group">
        <label>Prénom</label>
        <input class="form-control" #lastName />
      </div>

      <div class="form-group">
        <label>Nationalité</label>
        <input class="form-control" #nationality />
      </div>


      <!--n'existe pas dans la base-->
      <div class="form-group">
        <label>Ville</label>
        <input #city class="form-control"  />
      </div>

      <div class="form-group">
        <label>Région</label>
        <input  class="form-control" #region />
      </div>


      <div class="form-group">
        <label>E-mail</label>
        <input class="form-control" #mailAdress />
      </div>

      <div class="form-group">
        <label>N° de Téléphone</label>
        <input class="form-control" #phone />
      </div>

    </div>
  </div>
</div> <br>
<h3 style="color:black" class="display-5">Informations générale</h3>
<hr>
<br>

<div class="container">

  <div class="form-group">
    <label>Commentaire</label>
    <textarea class="form-control" rows="5"  #comment  ></textarea>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <button class="btn btn-danger" (click)="add(
0,
firstName.value,
lastName.value,
natIdNum.value,
adress.value,
birthdate.value,
phone.value,
mailAdress.value,
fonction.value,

nationality.value,

photoUrl.value,

region.value,
city.value,
numpasseport.value,
comment.value);

">enregistrer</button> &nbsp;
        <button (click)="close()" class="btn btn-danger">Annuler</button>

      </div>

    </div>
  </div>
</div>
</div>
