<div id="overlay">
<h3  style="color:black" class="display-5">Informations Personelles</h3>
<hr> <br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <img id="profileImg" src="../../../assets/img/placeholder.png" class="mr-3 align-self-center rounded-circle" style="width:150px;height:150px;" >

      <div class="form-group">
        <label>ImageURL</label>
        <input class="form-control" #photo />
      </div>

      <div class="form-group">
        <label>Equipe</label>
        <input #equipe class="form-control"  />
      </div>

      <div class="form-group">
        <label>Fonction</label>
        <input  class="form-control" #fonction />
      </div>



    </div>
    <div class="col-sm">
      <div class="form-group">
        <label>Nom</label>
        <input class="form-control" #nom />
      </div>

      <div class="form-group">
        <label>Date de Naissance</label>
        <input class="form-control" #datenaiss />
      </div>

      <div class="form-group">
        <label>Adresse</label>
        <input class="form-control" #adresse />
      </div>

      <div class="form-group">
        <label>Région</label>
        <input class="form-control"  />
      </div>


      <div class="form-group">
        <label>CIN ou N° de Passport</label>
        <input class="form-control" #ncin />
      </div>




    </div>
    <div class="col-sm">
      <div class="form-group">
        <label>Prénom</label>
        <input class="form-control" #prenom />
      </div>

      <div class="form-group">
        <label>Nationalité</label>
        <input class="form-control" #nationalite />
      </div>


      <!--n'existe pas dans la base-->
      <div class="form-group">
        <label>Ville</label>
        <input #ville class="form-control"  />
      </div>


      <div class="form-group">
        <label>E-mail</label>
        <input class="form-control" #email />
      </div>

      <div class="form-group">
        <label>N° de Téléphone</label>
        <input class="form-control" #ntel />
      </div>

    </div>
  </div>
</div> <br>
<h3 style="color:black" class="display-5">Informations générale</h3>
<hr>
<br>

<div class="container">

  <div class="form-group">
    <label>Commentaire</label>
    <textarea #com class="form-control" rows="5"  ></textarea>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <button class="btn btn-danger" (click)="add(
0,
adresse.value,
datenaiss.value,
prenom.value,
fonction.value,
nom.value,
email.value,
ncin.value,
nationalite.value,
ntel.value,
photo.value);

adresse.value='';
datenaiss.value='';
prenom.value='';
fonction.value='';
nom.value='';
email.value='';
ncin.value='';
nationalite.value='';
ntel.value='';
ville.value='';
com.value='';
photo.value='';
equipe.value='';
">enregistrer</button>  &nbsp;
        <button (click)="close()" class="btn btn-danger">Annuler</button>

      </div>

    </div>
  </div>
</div>
</div>
