<div class="container">
<div class="card" style="width: 90%; margin: 5% 5% 5% 5%;  padding: 5% 5% 5% 5%;">
  <div class="row card-img-top">
    <div class="col">
      <app-sm-team-details [teamId]="match.idEquipe1"></app-sm-team-details>
    </div>
    <div class="col">
      <div class="align-self-center"><h3 > {{match.heure}} </h3></div>

      <p class="card-text"></p>
    </div>
    <div class="col">
      <app-sm-team-details [teamId]="match.idEquipe2"></app-sm-team-details>
    </div>
  </div>



</div>
  <div class="card" style="width: 90%; margin: 5% 5% 5% 5%;">
  <div class="row justify-content-center">
    <div class="col-4">

        <h3>Date : {{match.date}}</h3>


    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10">

      <h3>Lieu : {{match.place}}</h3>


    </div>
  </div>
  </div>
</div>
