<div class="container" *ngIf="teamIn">
  <div class="row">
    <div class="col">
      <div class="alert alert-secondary" role="alert">
        <div class="mx-auto" style="width:max-content;">
          <img src="{{teamIn.logoUrl}}" style="width:80px;height:80px;" onerror="this.src='../../../assets/img/profile_img_alt.jpg';"/>
          <h2>{{teamIn.name}} </h2>
          <p>{{teamIn.division}}</p>
        </div>
      </div>
    </div>

  </div>
  <div class="alert alert-secondary" role="alert">
    <div class="row">

      <div class="col-6">
        <div class="row">
          <div class="col"><span style="font-size: medium"> <b>  Nom du président :  </b> </span> </div>
          <div class="col">{{teamIn.presidentLastName}}</div>
        </div>

        <div class="row">
          <div class="col"><span style="font-size: medium">N° de téléphone du président</span> </div>
          <div class="col">{{teamIn.presidentPhone}}</div>
        </div>

        <div class="row">
          <div class="col"><span style="font-size: medium"> Nom du secrétaire</span> </div>
          <div class="col">{{teamIn.secretaryLastName}}</div>
        </div>

        <div class="row">
          <div class="col"><span style="font-size: medium">N° de téléphone secrétaire</span> </div>
          <div class="col">{{teamIn.secretaryPhone}}</div>
        </div>

        <div class="row">
          <div class="col"><span style="font-size: medium">Adresse</span> </div>
          <div class="col">{{teamIn.address}}</div>
        </div>

        <div class="row">
        <div class="col"><span style="font-size: medium">Date de création</span> </div>
        <div class="col">{{teamIn.creationDate}}</div>
      </div>

        <div class="row">
          <div class="col"><span style="font-size: medium">N° de téléphone</span> </div>
          <div class="col">{{teamIn.phone}}</div>
        </div>

        <div class="row">
        <div class="col"><span style="font-size: medium">Terrain principale</span> </div>
        <div class="col">{{teamIn.mainStadium}}</div>
      </div>



      </div>
      <div class="col-6">
        <div class="row">
          <div class="col"><span style="font-size: medium">prenom du président:</span> </div>
          <div class="col">{{teamIn.presidentFirstName}}</div>
        </div>
        <div class="row">
          <div class="col"><h5> </h5></div>
          <div class="col"></div>
        </div>
        <div class="row">
          <div class="col"><span style="font-size: medium">prénom du secrétaire : </span></div>
          <div class="col">{{teamIn.secretaryLastName}}</div>
        </div>
        <div class="row">
          <div class="col"><h5> </h5></div>
          <div class="col"> </div>
        </div>

        <div class="row">
          <div class="col"><span style="font-size: medium">région : </span></div>
          <div class="col">{{teamIn.region}}</div>
        </div>

        <div class="row">
          <div class="col"><span style="font-size: medium">E-mail : </span></div>
          <div class="col">{{teamIn.mail}}</div>
        </div>

        <div class="row">
          <div class="col"><span style="font-size: medium">Fax : </span></div>
          <div class="col">{{teamIn.fax}}</div>
        </div>
        <div class="row">
          <div class="col"><span style="font-size: medium">E-Mail : </span></div>
          <div class="col">{{teamIn.mail}}</div>
        </div>
        <div class="row">
          <div class="col"><span style="font-size: medium">Adresse du terrain : </span></div>
          <div class="col">{{teamIn.mainStadiumLocation}}</div>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="col"> </div>
      <div class="col"> </div>
    </div>

    <div class="row">
      <div class="col">   <span style="font-size: medium"> <b> Commentaire </b> </span> &nbsp;&nbsp;
        {{teamIn.teamPhoto}} </div>
    </div>


  </div>
</div>
