
<h1 class="display-4">Informations Personelles</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <img id="profileImg" class="mr-3 align-self-center rounded-circle" style="width:200px;height:200px;" src="../../../assets/img/profile_img_alt.jpg" onerror="this.src='../../../assets/img/profile_img_alt.jpg';" alt="image not found">

      <div class="form-group">
        <label>ImageURL</label>
        <input class="form-control" #photoUrl (keyup)="displayImage(photoUrl.value)" />
      </div>

      <div class="form-group">
        <label>Equipe</label>
        <input class="form-control" #actualTeamId />
      </div>

      <div class="form-group">
        <label>N° du maillot</label>
        <input class="form-control" #squadNumber />
      </div>


    </div>
    <div class="col-sm">
      <div class="form-group">
        <label>Nom</label>
        <input class="form-control" #lastName />
      </div>

      <div class="form-group">
        <label>Date de Naissance</label>
        <input type="date" class="form-control" #birthdate />
      </div>

      <div class="form-group">
        <label>Adresse</label>
        <input class="form-control" #address />
      </div>

      <div class="form-group">
        <label>Region</label>
        <input class="form-control"  #region/>
      </div>

      <div class="form-group">
        <label>CIN ou N° de Passport</label>
        <input class="form-control" #natIdNum />
      </div>

      <div class="form-group">
        <label>N° de Téléphone</label>
        <input class="form-control" #phone />
      </div>

      <div class="form-group">
        <label>Poids</label>
        <input class="form-control" #weight />
      </div>

    </div>
    <div class="col-sm">
      <div class="form-group">
        <label>Prénom</label>
        <input class="form-control" #firstName />
      </div>

      <div class="form-group">
        <label>Nationalité</label>
        <input class="form-control" #nationality />
      </div>

      <div class="form-group">
        <label>Ville</label>
        <input class="form-control" #ville  />
      </div>

      <div class="form-group">
        <label>N° de Licence</label>
        <input class="form-control" #licenseNumber />
      </div>

      <div class="form-group">
        <label>Category</label>
        <input class="form-control" #category />
      </div>

      <div class="form-group">
        <label>E-mail</label>
        <input class="form-control" #mailAddress />
      </div>

      <div class="form-group">
        <label>Taille</label>
        <input class="form-control" #height />
      </div>
    </div>
  </div>
</div>
<h1 class="display-4">Informations générale</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label>Equipe antérieur</label>
        <input class="form-control" #previousTeamId />
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
<div class="form-group">
  <label>Commentaire</label>
  <textarea class="form-control" rows="5" #comment ></textarea>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <button class="btn btn-danger btn-block btn-lg" (click)="add(
  0,
  licenseNumber.value,
  firstName.value,
  lastName.value,
  squadNumber.value,
  natIdNum.value,
  address.value,
  phone.value,
  mailAddress.value,
  height.value,
  weight.value,
  birthdate.value,
  actualTeamId.value,
  previousTeamId.value,
  nationality.value,
  category.value,
  photoUrl.value,
  region.value,
  ville.value,
  comment.value); ">
        Enregistrer
      </button>
    </div>
  </div>
</div>





