<style>

  #overlay {
    position: fixed;
    display: none;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    overflow-y: auto;

  }
  #overlayinside{
    position: absolute;

    height: 60%;
    width: 60%;

    right: 20%;
    top: 5%;
    left: 20%;

  }

</style>
  <div class="dropdown" id="search-component">

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-search"></i></div>
      </div>
      <input #searchBox type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search team" (keyup)="search(searchBox.value)">
    </div>

    <ul class="dropdown-content">
      <li class="dropdown-item"*ngFor="let team of teams | async" >
      <a>
        <div class="media" (click)="setTeam(team.id)">
          <img class="mr-3 align-self-center rounded-circle" style="width:20px;height:20px;" src="{{team.logoUrl}}" alt="img">
          <div class="align-self-center media-body">
            <h5 class="mt-0">{{team.name}}</h5>
          </div>
        </div>
      </a>



      </li>
    </ul>
  </div>




<div class="table-responsive">
  <table class="table">

    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Photo</th>
      <th scope="col">N°Licence</th>
      <th scope="col">Nom et Prenom</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"><button class="btn btn-secondary " (click)="on();"> <i class="fas fa-plus"></i> Ajouter </button></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of players | async">
      <th scope="row">{{player.squadNumber}}</th>
      <td><img class="rounded-circle" style="width:40px;height:40px;" src="{{player.photoUrl}}"></td>
      <td>{{player.licenseNumber}}</td>
      <td>{{player.firstName}} {{player.lastName}}</td>
      <td><button class="btn btn-secondary"><i class="far fa-address-card"></i></button></td>
      <td><button class="btn btn-secondary"><i class="fas fa-pen"></i></button></td>
      <td><button (click)="delete(player.id)" class="btn btn-danger">
        <i class="fas fa-trash-alt"></i>
      </button></td>
    </tr>

    </tbody>
  </table>
</div>


<div id="overlay">
  <div id="overlayinside">
  <div class="alert alert-light" role="alert">
    <a class="d-flex justify-content-end" (click)="off();" >
      <i class="far fa-times-circle"></i>
    </a>
  <app-add-player></app-add-player>
  </div>
  </div>
</div>


