#overlayDetails {
  position: fixed;
  display: none;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  cursor: pointer;
  overflow-y: auto;

}
#overlayinsideDetails{
  position: absolute;
  background-color: white;
  height: 50%;
  width: 50%;

  right: 25%;
  top: 10%;
  left: 25%;

}
